*{
margin: 0%;
    padding: 0%;
}
body{
    background-image: url("images/back.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0% 31%

}



.navbar-div {
position: sticky;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-around;
   

}
.navbar-div p {
    
    margin-top: 40px;
    cursor: pointer;
}


.navbar-div button {
    border-radius: 20px;
    margin-top: 27px;
    width: 11%;
    height: 45px;
    cursor: pointer;
}