*{
margin: 0%;
    padding: 0%;
}

.back_img{
    background-image: url("images/back.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: 0% 43%;
}
.digital {
    /* position: relative; */
    display: inline-block;
}
.design {
    display: inline-block;
}
.graphic {
    display: inline-block;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 10px 10px;
    z-index: 1;
  }
  .digital:hover .dropdown-content {
    display: block;
  }

  .design:hover .dropdown-content {
    display: block;
  }
  .graphic:hover .dropdown-content {
    display: block;
  }


.navbar-div {
    padding-bottom: 8px;
    padding-top: 4px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.navbar-div p {
    font-family: "Helvetica", Sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 40px;
    cursor: pointer;
}


.navbar-div button {
    border: none;
    outline: none;
    color: white;
    font-size: 15px;
    font-weight: 800;
    background-color: #090E23;
    border-radius: 20px;
    margin-top: 15px;
    width: 146px;
    margin-right: 34px;
    height: 50px;
    cursor: pointer;
}
.navbar-div button:hover{
    background-color: white;
    color: black;
}
 .head-para-button{
     padding-bottom: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 370px;
} 

/* .head-para-button h1{
    font-size: 55px;
    color: white;
    font-family: sans-serif;
} */
.head-para-button p{
    width: 65%;
    color: white;
    font-family: sans-serif;
    font-weight: 600;
}
.emty_div {
   background-color: #090E23;
    margin-top: 6px;
    margin-bottom: 9px;
    width: 70px;
    height: 4px;
}

.contact {
    font-size: 13px;
    font-weight: 900;
    border: none;
    outline: none;
    width: 130px;
    height: 48px;
    border-radius: 22px;
}

.service  {
    outline: none;
    color: white;
     background-color: transparent; 
    border: 1px solid white;
    font-size: 15px;
    font-weight: 600;
    width: 113px;
    height: 43px;
    border-radius: 20px;
}

.service:hover{
    background-color: white;
    color: black;
}
.main_two {

background-color: #090e23;
padding-bottom: 100px;
}
.awesome_para{    
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.awesome_para h1 {
color: white;
font-size: 55px;
font-weight: 600;
font-family: sans-serif;
}

.horizental {
    background-color: white;
    width: 28%;
    height: 4px;
}
.awesome_para p {
    font-family: sans-serif;
    margin-top: 20px;
    width: 70%;
    color: white;
    font-weight: 500;
    font-size: 18px;
}

 .two-div {
    /* margin-right: 28px; */
    margin-left: 40px;
    margin-top: 56px;
    background-color: #090e23;
    display: flex;
}
 .first_div{ 
    
    box-shadow: 4px 4px 4px 4px;
    border-radius: 6px;
padding-bottom: 35px;
    margin-right: 54px;
    background-color: #090e23;
    display: flex;
    padding-top: 20px;    
 } 
  .second_div { 
      margin-right: 54px;
      box-shadow: 4px 4px 4px 4px;
    border-radius: 6px;
    background-color: #090e23;
    display: flex;
    padding-top: 20px;
 }   

 hr{
        width: 30px;
    margin-left: 34px;
}
.brand_we{
font-family: sans-serif;
    color: white;
    font-weight: 500;
}
 .logo_design {
    display: flex;
    flex-direction: column;
text-align: center;
    margin-top: 120px;
} 

@media only screen and (max-width: 800px) {
    .two-div{
        
        display: flex;
        flex-wrap: wrap;
    }
}

.logo_design h1{

color: white;
    font-size: 55px;
    font-weight: 600;
    font-family: sans-serif;
}
 .logo_design p{
    /* margin-right: 20px; */
    font-family: sans-serif;
    margin-top: 20px;
    color: white;
    /* margin-left: 20px; */
    font-weight: 500;
    font-size: 16px;
    } 
.two{
    height: 3px;
    background-color: white;
    margin-top: 35px;
    margin-bottom: 35px;
    margin-left: 48%;
    width: 48px;
}
    
.start_div {
    font-size: 13px;
    font-weight: 900;
    border: none;
    outline: none;
    width: 190px;
    height: 50px;
    border-radius: 25px;
    
}
.number {
    outline: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
    font-size: 16px;
    font-weight: 600;
    width: 186px;
    height: 50px;
    border-radius: 25px;
    
}
.number:hover{
background-color: white;
color: black;
}

.taklking_div {
display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}
.taklking_div h1{
font-family: sans-serif;
    color: white;
    font-weight: 500;
    font-size: 20px;
    font-size: 56px;
}
.taklking_div p{
    font-family: sans-serif;
    margin-top: 20px;
    color: white;
    margin-left: 18px;
    margin-right: 15px;
    /* width: 40%; */
    font-weight: 500;
    /* font-size: 14px */
}
.firstname {
    border: none;
    outline: none;
    height: 55px;
    margin-top: 8px;
    /* margin-left: 36%; */
    width: 30%;
    border-radius: 26px 26px 26px 26px;
    padding-left: 20px;
}

.secondname{
    border: none;
    outline: none;
padding-bottom: 34px;
padding-left: 21px;
border-radius: 36px 36px 36px 36px;
width: 31%;
/* margin-left: 36%; */
height: 38px;
margin-top: 10px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
/* margin-top: 12px;
margin-right: 23px */
}

.ask-button {
    font-size: 16px;
    font-weight: 600;
    border: none;
    outline: none;
    color: white;
    background-color: #172853;
    width: 33%;
    /* margin-left: 36%; */
    height: 50px;
    margin-top: 10px;
    border-radius: 22px 22px 22px 22px;
}
.ask-button:hover{
background-color:#FFFFFF;
color: #172853;
}
.foot {
    font-family: sans-serif;
text-align: center;
    color: white;
    margin-top: 3%
}
 
.icons{
text-align: center;
margin-top: 50px;
color: white;
}

@font-face {
    font-family: Clip;
    src: url("https://acupoftee.github.io/fonts/Clip.ttf");
  }
/*   
  body {
    background-color: #141114;
    background-image: linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px),
      linear-gradient(335deg, black 23px, transparent 23px),
      linear-gradient(155deg, black 23px, transparent 23px);
    background-size: 58px 58px;
    background-position: 0px 2px, 4px 35px, 29px 31px, 34px 6px;
  } */
  
  .sign {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 50%;
    background-image: radial-gradient(
      ellipse 50% 35% at 50% 50%,
      #6b1839,
      transparent
    );
    transform: translate(-50%, -50%);
    letter-spacing: 2;
    left: 40%;
    top: 50%;
    font-family: "Clip";
    text-transform: uppercase;
    font-size: 5em;
    color: #ffe6ff;
    text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
      -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
      0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    animation: shine 2s forwards, flicker 3s infinite;
  }
  
  @keyframes blink {
    0%,
    22%,
    36%,
    75% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
    28%,
    33% {
      color: #ff65bd;
      text-shadow: none;
    }
    82%,
    97% {
      color: #ff2483;
      text-shadow: none;
    }
  }
  
  .flicker {
    animation: shine 2s forwards, blink 3s 2s infinite;
  }
  
  .fast-flicker {
    animation: shine 2s forwards, blink 10s 1s infinite;
  }
  
  @keyframes shine {
    0% {
      color: #6b1839;
      text-shadow: none;
    }
    100% {
      color: #ffe6ff;
      text-shadow: 0 0 0.6rem #ffe6ff, 0 0 1.5rem #ff65bd,
        -0.2rem 0.1rem 1rem #ff65bd, 0.2rem 0.1rem 1rem #ff65bd,
        0 -0.5rem 2rem #ff2483, 0 0.5rem 3rem #ff2483;
    }
  }
  
  @keyframes flicker {
    from {
      opacity: 1;
    }
  
    4% {
      opacity: 0.9;
    }
  
    6% {
      opacity: 0.85;
    }
  
    8% {
      opacity: 0.95;
    }
  
    10% {
      opacity: 0.9;
    }
  
    11% {
      opacity: 0.922;
    }
  
    12% {
      opacity: 0.9;
    }
  
    14% {
      opacity: 0.95;
    }
  
    16% {
      opacity: 0.98;
    }
  
    17% {
      opacity: 0.9;
    }
  
    19% {
      opacity: 0.93;
    }
  
    20% {
      opacity: 0.99;
    }
  
    24% {
      opacity: 1;
    }
  
    26% {
      opacity: 0.94;
    }
  
    28% {
      opacity: 0.98;
    }
  
    37% {
      opacity: 0.93;
    }
  
    38% {
      opacity: 0.5;
    }
  
    39% {
      opacity: 0.96;
    }
  
    42% {
      opacity: 1;
    }
  
    44% {
      opacity: 0.97;
    }
  
    46% {
      opacity: 0.94;
    }
  
    56% {
      opacity: 0.9;
    }
  
    58% {
      opacity: 0.9;
    }
  
    60% {
      opacity: 0.99;
    }
  
    68% {
      opacity: 1;
    }
  
    70% {
      opacity: 0.9;
    }
  
    72% {
      opacity: 0.95;
    }
  
    93% {
      opacity: 0.93;
    }
  
    95% {
      opacity: 0.95;
    }
  
    97% {
      opacity: 0.93;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	letter-spacing: 1px;
}

.typewriter h1 {
    font-size: 50px;
    color: #fff;
    font-family: monospace;
    overflow: hidden; 
    border-right: .15em solid white;  
    white-space: nowrap; 
    margin: 0 auto;  
    /* letter-spacing: .15em;  */
    animation: 
      typing 3.5s steps(30, end),
      blink-caret .5s step-end infinite;
  }
  
 
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: white }
  }